* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.datepicker-table {
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    color: #c7c7c7;
    /*color: @gray-lighter;*/
    width: 100%;
    margin-bottom: 20px;
}
.datepicker-table .datepicker-header {
    position: relative;
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    color: #05b47a;
    /*color: @green-base;*/
    /*font-size: @font-size-large;*/
}
.datepicker-header i {
    position: absolute;
    top: 0;
    font-size: 20px;
    font-style: normal;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}
.datepicker-header .disable-btn {
    opacity: 0.1;
}
.datepicker-header .prev-btn {
    left : 0;
}
.datepicker-header .next-btn {
    right: 0;
}
.datepicker-table span {
    position: relative;
    float: left;
    height: 45px;
    line-height: 45px;
    width: 14.28%;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    /*border-bottom: 1px solid @gray-lightest;
    border-right: 1px solid @gray-lightest;*/
}
.datepicker-table span i {
    font-family: verdana;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 0 auto;
    font-style: normal;
}
.datepicker-table .dp-th {
    font-weight: bold;
    font-size: 14px;
    /*font-size: @font-size-base;*/
    color: #636363;
    /*color: @gray-light;*/
    height: 20px;
    line-height: 20px;
    background-color: #f1f1f1;
    /*background-color: @gray-lightest;*/
}
.datepicker-table .is-today i {
    display: none;
}
.datepicker-table .is-today:after {
    content: "今天";
    display: block;
    color: #c7c7c7;
    height: 30px;
    line-height: 30px;
    /*color: @gray-lighter;*/
}
.datepicker-table .is-weekend {
    /*color: #eb4747;*/
}
.datepicker-table .is-outdate {
    color: #c7c7c7;
    /*color: @gray-lighter;*/
}
.datepicker-table .selected {
    background-color: #9be1ca;
}
.datepicker-table .selected i, .datepicker-table .selected em {
    color: #fff;
}
.datepicker-table .has-quota em {
    display: none;
}
.datepicker-table .is-quota-valid {
    color: #333;
    /*color: @gray-base;*/
}
.datepicker-table .is-quota-valid em {
    display: block;
}
.datepicker-table .datepicker-quota {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 7px;
    right: 8px;
}
.datepicker-quota.full-quota {
    background-color: #4dcd25;
}
.datepicker-quota.poor-quota {
    background-color: #f26d4e;
}
.datepicker-table .datepicker-price {
    display: block;
    font-size: 12px;
    color: #ffae00;
    font-style: normal;
    text-align: center;
    line-height: 10px;
    /*font-size: @font-size-smallest;*/
}
